@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: 'Barlow', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', sans-serif;
   --font-mono: 'Barlow', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', sans-serif;
   --text-primary: #0d2e65;
   --text-secondary: #75b551;
   --border-primary: #d1d5db;
   --border-secondary: #e5e7eb;
   --btn-bg: #009970;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--text-primary);
   font-family: 'Barlow', sans-serif;
}

.lpg-container {
   max-width: 83%;
   /* width: 1440px; */
   margin: 0 auto;
   padding: 0 1rem;
}

.btn-bg {
   background-color: var(--btn-bg);
}
.text-primary {
   color: var(--text-primary);
}

.secondary-text {
   color: var(--stext-secondary);
}



.neon-pill {
  position: relative;           /* full pill */
  border: 2px solid #b7ea87ba;         /* neon green border */
  background: transparent;
  /* outer glow */
  box-shadow:
    0 0 6px  rgba(155, 255, 59, 0.2),
    0 0 16px rgba(155, 255, 59, 0.1),
    0 0 32px rgba(155, 255, 59, 0.01);
}

/* optional: hover a bit brighter */
.neon-pill:hover {
  box-shadow:
    0 0 10px rgba(155, 255, 59, .2),
    0 0 24px rgba(155, 255, 59, 0),
    0 0 40px rgba(155, 255, 59, 0.2);
}


